---
import RoundButton from "./RoundButton.astro";
import IconDiscord from '../assets/icon-discord.svg';
import IconTiktok from '../assets/icon-tiktok.svg';
import IconX from '../assets/icon-x.svg';
import IconBluesky from '../assets/icon-bluesky.svg';
import IconInstagram from '../assets/icon-instagram.svg';
import IconYoutube from '../assets/icon-youtube.svg';

const today = new Date();
const socialButtonSize = "45";
---

<footer>
	&copy; {today.getFullYear()} Gnista Games AB. All rights reserved.
	<div class="social-links-container">
		<div class="social-links">
			<RoundButton size={socialButtonSize} href="https://discord.gg/6B8gw7tVRs" sr="Follow on Discord" icon={IconDiscord.src}/>
				
			<RoundButton size={socialButtonSize} href="https://www.tiktok.com/@gnistagames" sr="Follow on Tiktok" icon={IconTiktok.src}/>

			<RoundButton size={socialButtonSize} href="https://bsky.app/profile/gnistagames.bsky.social" sr="Follow on Bluesky" icon={IconBluesky.src}/>
			
			<RoundButton size={socialButtonSize} href="https://x.com/GnistaGames" sr="Follow on X" icon={IconX.src}/>

			<RoundButton size={socialButtonSize} href="https://www.instagram.com/gnistagames/" sr="Follow on Instagram" icon={IconInstagram.src}/>

			<RoundButton size={socialButtonSize} href="https://www.youtube.com/channel/UCzSb76XLCxuQLU3wPU4qzIQ" sr="Follow on YouTube" icon={IconYoutube.src}/>
		</div>
		<div class="social-links-bottom">
			<button class="subscribe-button" id="subscribe-newsletter">Subscribe</button>
		</div>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: linear-gradient(var(--green-gradient)) no-repeat;
		color: var(--text-color);
		text-align: center;
	}
	.social-links-container {
		display: flex;
		flex-direction: column;
		margin-top: 0.6em;
		gap: 0.8em;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 0.6em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--text-color);
	}
	.social-links a:hover {
		color: var(--main-white);
	}
	.social-links-bottom {
		display: flex;
		justify-content: center;
		margin: 0.2em;
	}
	.social-links-bottom button {
		padding: 0.2em;
	}
	@media (min-width: 1050px) {
		.social-links-bottom button {
			display: none;
		}
	}
</style>
