---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import RoundButton from './RoundButton.astro';
import IconMysticore from '../assets/icon-mysticore.svg';
import IconDiscord from '../assets/icon-discord.svg';
import IconTiktok from '../assets/icon-tiktok.svg';
import IconX from '../assets/icon-x.svg';
import IconBluesky from '../assets/icon-bluesky.svg';
import IconInstagram from '../assets/icon-instagram.svg';
import IconYoutube from '../assets/icon-youtube.svg';
---

<header>
	<nav>
		<!-- <h2><img src={IconMysticore.src}></h2> -->

		<RoundButton href="/" size=45 target="_self" icon={IconMysticore.src}/>

		<div class="header-link-div">
			<HeaderLink class="header-link" href="/">Mysticore</HeaderLink>
			<HeaderLink class="header-link" href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			
			<RoundButton href="https://discord.gg/6B8gw7tVRs" sr="Follow on Discord" icon={IconDiscord.src}/>
			
			<RoundButton href="https://www.tiktok.com/@gnistagames" sr="Follow on Tiktok" icon={IconTiktok.src}/>

			<RoundButton href="https://bsky.app/profile/gnistagames.bsky.social" sr="Follow on Bluesky" icon={IconBluesky.src}/>
			
			<RoundButton href="https://x.com/GnistaGames" sr="Follow on X" icon={IconX.src}/>

			<RoundButton href="https://www.instagram.com/gnistagames/" sr="Follow on Instagram" icon={IconInstagram.src}/>

			<RoundButton href="https://www.youtube.com/channel/UCzSb76XLCxuQLU3wPU4qzIQ" sr="Follow on YouTube" icon={IconYoutube.src}/>

			<button class="subscribe-button" id="subscribe-newsletter">Subscribe</button>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 0.3em 0 0;
		background: rgb(var(--main-green));
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.2em;
	}
	.header-link-div { 
		position: absolute;
  		left: 50%;
  		transform: translateX(-50%);
		display: flex;
		flex-direction: row;
		gap: 0.25em;
	}
	.header-link {
		color: var(--black);
		text-decoration: none;
		border-radius: 8px;
	}
	.header-link.active {
		text-decoration: none;
		background-color: var(--round-button-background);
	}
	.header-link:hover {
		background-color: var(--round-button-background-hover);
	}
	.social-links { 
		display: flex;
		gap: 9px;
	}
	@media (max-width: 1050px) {
		.subscribe-button {
			display: none;
		}
	}
	@media (max-width: 800px) {
		.social-links {
			display: none;
		}
	}
</style>
